@font-face {
    font-family: 'Pixeboy';
    font-weight: 900;
    src: url("Pixeboy-z8XGD.ttf");
}
#gamename {
    -fx-font-family: 'Pixeboy';
    -fx-font-size: 75px;
}

#gameselectionbox {
    -fx-min-height: 300px;
    -fx-alignment: center;
}
#buttonandnamebox {
    -fx-spacing: 15px;
    -fx-padding: 0.0 50.0 0.0 415.0;
}
#t {
    -fx-font-family: "Pixeboy";
}
#start {
    -fx-background-color: #d3d3d3;
    -fx-font-size: 15px;
    -fx-font-family: "Ariel";
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.5) , 2, 0.0 , 0 , 1);
}
#start:hover {
    -fx-background-color: #c0c0c0;
}