@font-face {
    font-family: 'Pixeboy';
    font-weight: 900;
    src: url("Pixeboy-z8XGD.ttf");
}
#gameNameText {
    -fx-font-family: 'Pixeboy';
    -fx-font-size: 75px;
    -fx-fill: #ffffff;
}
#gameNameBackground {
    -fx-pref-width: 600px;
    -fx-pref-height: 100px;
    -fx-background-color: #000000;
    -fx-arc-width: 30px;
    -fx-arc-height: 20px;
}
#GamePreview {
    -fx-min-height: 100px;
    -fx-pref-width: 100px;
}
#gameCartridgeBox {
    -fx-min-height: 300px;
    -fx-alignment: center;
}
#gameNameDisplay {
    -fx-translate-y: -50px;
    -fx-spacing: 15px;
    -fx-padding: 0.0 50.0 0.0 415.0;
    -fx-pref-width: 600px;
    -fx-translate-x: -290px;
    -fx-alignment: center;
    -fx-max-width: 600px;
    -fx-max-height: 100px;
}
#menuFrame {
    -fx-spacing: 40px;
    -fx-translate-x: -175px;
    -fx-translate-y: -118px;
    -fx-min-height: 520px;
    -fx-alignment: center_right;
    -fx-background-color: #191970;
}
#gameSelector {
    -fx-translate-x: 175px;
    -fx-translate-y: 100px;
}
#logoText {
    -fx-font-family: "Pixeboy";
    -fx-fill: #ff0000;
    -fx-font-size: 20px;
}
#logoAbbreviationText {
    -fx-font-family: "Pixeboy";
    -fx-fill: #ff0000;
    -fx-font-size: 35px;
}
#logoBox {
    -fx-spacing: 5px;
    -fx-translate-y: 15px;
    -fx-translate-x: -165px;
}
#menuSkin {
    -fx-translate-x: -175px;
    -fx-translate-y: -119px;
}
#vent {
    -fx-fill: #000000;
    -fx-pref-width: 10;
    -fx-pref-height: 17.5;
}
#lidVentArt1 {
    -fx-stroke: #000000;
    -fx-stroke-width: 2.5px;
    -fx-fill: #a9a9a9;
}
#lidVentArt2 {
    -fx-stroke: #000000;
    -fx-stroke-width: 2.5px;
    -fx-fill: #a9a9a9;
    -fx-translate-y: -2.5px;
}
#ventBoxBottom {
    -fx-translate-x: 700px;
    -fx-translate-y: -18px;
}
#ventBoxTop {
    -fx-translate-x: 700px;
}
#lidArtBottom{
    -fx-translate-x: 945px;
    -fx-stroke: #000000;
    -fx-stroke-width: 2.5px;
    -fx-translate-y: 2px;
}
#lidArtTop {
    -fx-translate-x: 945px;
    -fx-stroke: #000000;
    -fx-stroke-width: 2.5px;
    -fx-translate-y: -2.5px;
}
#mainConsoleArea {
    -fx-spacing: 10px;
    -fx-padding: 0 0 0 20;
    -fx-min-height: 65px;
    -fx-min-width: 1280px;
    -fx-background-color: #d3d3d3;
}
#consoleAccent {
    -fx-spacing: 5px;
    -fx-padding: 17.5 0 0 100;
    -fx-min-height: 35px;
    -fx-min-width: 1280px;
    -fx-background-color: #a9a9a9;
}
#selectGameButton {
    -fx-background-color: #d3d3d3;
    -fx-font-size: 15px;
    -fx-background-radius: 0;
    -fx-font-family: "Ariel";
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.5) , 2, 0.0 , 0 , 1);
    -fx-translate-y: 15px;
    -fx-translate-x: -165px;
}
#selectGameButton:hover {
    -fx-background-color: #c0c0c0;
}
#leftArrow {
    -fx-fill: #ff0000;
    -fx-stroke: #8b0000;
    -fx-translate-x: 60px;
    -fx-translate-y: 275px;
}
#rightArrow {
    -fx-fill: #ff0000;
    -fx-stroke: #8b0000;
    -fx-translate-x: 850px;
    -fx-translate-y: 275px;
}
.button {
    -fx-background-color:
        #ecebe9,
        rgba(0,0,0,0.05),
        linear-gradient(#dcca8a, #c7a740),
        linear-gradient(#f9f2d6 0%, #f4e5bc 20%, #e6c75d 80%, #e2c045 100%),
        linear-gradient(#f6ebbe, #e6c34d);
    -fx-background-radius: 50;
    -fx-font-family: "Ariel";
    -fx-font-size: 18px;
    -fx-text-fill: #311c09;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 2, 0.0 , 0 , 1);
}
.label {
    -fx-effect: dropshadow( one-pass-box , rgba(255,255,255,0.5) , 0, 0.0 , 0 , 1);
    -fx-font-family: "Ariel";
}